@{
    ViewBag.Title = "Travel Me";
}

<div id="head">

    <div class="row">

        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div id="title-container">
                <h2 id="title">@ViewBag.Title</h2>
                <hr id="title_underline" />

                <div class="box">
                    <input type="text" class="form-control credential-enter" placeholder="E-mail" />
                    <input type="text" class="form-control credential-enter" placeholder="Password" />
                    <button class="button">Log In</button>
                    @*
            
            
            <button class="button">Register</button>*@
                </div>
            </div>

        </div>
    </div>


</div> 