/*Travel Me Style*/

@primary-font: Century Gothic, sans-serif;

@primary-color: #ee7600;
@primary-text-color: #FFF;
@dark-color: #000;

@opacity-level: 30%;
@opacity-level-button: 80%;

@header-size: 6em;
@subheader-size: 1.0em;

@default-list-type: none;

@button-size: 1.2em;

/* Mixins */

.border-radius (@radius: 15%) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.blur(@value: 5px) {
    -webkit-filter: blur(@value);
    -moz-filter: blur(@value);
    -o-filter: blur(@value);
    -ms-filter: blur(@value);
    filter: blur(@value);
}

.comPosition {
    position: relative;
}

/* Page */

body {
    font-family: @primary-font;
}

/*
	Header
*/

.hide {
    display: none;
}

.show {
    display: block;
}

.center-box {
    margin: 0 auto;
    width: 25%;
}

#head:before {
    background-image: url("../Content/res/images/surf.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: inherit;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    .blur(2px);
}

.content {
    clear: both;
    z-index: 0;
}

#title {
    .hide;
    .center-box;
    .comPosition;
    top: 2em;
    color: @primary-text-color;
    font-size: @header-size;
}

#title_underline {
    .hide;
    .center-box;
    .comPosition;
    top: 5.5em;
}

#title-container {
    top: 50%;
    margin: 0 auto;
}

#sellingpoints {
    color: @primary-text-color;
    font-size: @subheader-size;
    text-align: center;

    li {
        .hide;
        list-style-type: @default-list-type;
        margin: 1em;
        display: inline-block;
        .comPosition;
        top: 20em;
    }
}

.button {
    .border-radius(5%);
    display: block;
    font-size: @button-size;
    background-color: fade(@primary-color, 65%);
    color: @primary-text-color;

    @button-size-dim: 2em;
    height: @button-size-dim;
    border: none;
    margin: 0 auto;
    margin-top: 1em;
    position: relative;
    top: 30%;

    a {
        color: @primary-text-color;
        text-decoration: none;
    }
}

.signin_option {
    top: 50%;

    li {
        margin-top: 0.5em;
        list-style-type: @default-list-type;
    }
}

.box {
    .center-box;
    .border-radius(2%);
    .comPosition;
    background-color: fade(@dark-color, @opacity-level);
    height: 25em;
    top: 10em;
}

.credential-enter {
    .comPosition;
    top: 20%;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
    margin-top: 2em;
}

/*
    Footer
*/

#footer {
    background-color: fade(@dark-color, 50%);
    color: @primary-text-color;
    font-size: @subheader-size;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
