/*Travel Me Style*/

@primary-font: Consolas,monaco,monospace;

@primary-color: #ee7600;
@primary-text-color: #FFF;
@dark-color: #000;

@opacity-level: 30%;
@opacity-level-button: 80%;

@header-size: 6em;
@subheader-size: 1.0em;

@default-list-type: none;

@button-size: 1.2em;

/* Mixins */

.border-radius (@radius: 15%) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


.blur(@value: 5px)
{
    -webkit-filter: blur(@value);
    -moz-filter: blur(@value);
    -o-filter: blur(@value);
    -ms-filter: blur(@value);
    filter: blur(@value);
}

/* Page */

body {
    font-family: @primary-font;
}

/*
	Header
*/

.hide {
    display: none;
}

.show {
    display: block;
}

#head:before {
    background-image: url("../Content/res/images/surf.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: inherit;
    position: fixed;
    display: block; 
    top: 0;
    left: 0;
    z-index: -1;
    content: ""; 
    .blur(2px); 
}

.content
{
    clear: both; 
    z-index: 0;
}

#title {
    color: @primary-text-color;
    font-size: @header-size;
    .hide;
}

#title_underline {
    .hide;
}

#title-container
{
    top: 50%; 

    margin: 0 auto; 
   
}

#sellingpoints {
    color: @primary-text-color;
    font-size: @subheader-size;

    li {
        list-style-type: @default-list-type;
        margin: 1em;
        .hide;
    }
}

.button {
    display: block; 

    font-size: @button-size;
    background-color: fade(@primary-color, 65%);
    color: @primary-text-color;
  
    @button-size-dim: 2em;
    height: @button-size-dim;

     border: none;
    .border-radius(5%);

    margin: 0 auto; 
    margin-top: 1em;     
}

.signin_option {
    top: 50%;

    li {
        margin-top: 0.5em;
        list-style-type: @default-list-type;
    }
}

.box {
    background-color: fade(@dark-color, @opacity-level);

    width: inherit;
    height: 30em;
    margin: 0 auto;
    .border-radius(2%);
   
}

.credential-enter
{
    width: 70%; 
    padding: 1em; 
    margin: 0 auto; 
    margin-top: 2em; 
}
