@model com.kiransprojects.travelme.Framework.Entities.Trip

@{
    ViewBag.Title = "Trips";
}

@Html.Partial("Navigation")


<div class="row" id="banner">
    <h1>@ViewBag.Title</h1>
</div>


<div class="row">
    <div class="col-xs-12 col-sm-9">
        <div class="panels">
          
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">
        <div class="panels" id="panel-location">
            <h3>Locations</h3>
        </div>
    </div>
</div>