@model com.kiransprojects.travelme.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}


<div id="head">
    <div class="row">
        <div class="col-xs-12">
            <h2 id="title">Login</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">

            <div id="validation-error">
                @Html.ValidationSummary()
            </div>

            @using (Html.BeginForm("LoginRedirect", "Account", FormMethod.Post, null))
            {
                @Html.TextBoxFor(o => o.User.Email, new { @class = "form-control credential-enter", @placeholder = "Email" })
                @Html.PasswordFor(o => o.User.UserPassword, new { @class = "form-control credential-enter", @placeholder = "Password" })

                <input type="submit" name="Login" value="Log In" class="button center" />
            }
        </div>
    </div>

</div>