<div class="row">
    <div class="col-sm-12 hidden-xs">
        <nav id="nav">
            <ul>
                <li>travel me</li>
                <li>@Html.ActionLink("Home", "Home", "User")</li>
                <li>@Html.ActionLink("Trips", "Trips", "Trip")</li>
                <li>@Html.ActionLink("Locations", "Locations", "User")</li>
                <li>@Html.ActionLink("Profile", "Profile", "User")</li>
            </ul>
        </nav>
    </div>
</div>